{
    "trailingComma": "all",
    "singleQuote": true,
    "semi": false,
    "importOrder": [
        "<THIRD_PARTY_MODULES>",
        "^@/lib/(.*)$",
        "^@/components/(.*)$",
        "^@/app/(.*)$",
        "^@/(.*)$"
    ],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true,
    "plugins": ["prettier-plugin-tailwindcss"],
    "tabWidth": 2,
    "printWidth": 80,
    "htmlWhitespaceSensitivity": "ignore",
    "proseWrap": "always"
}
